##### \# Server Configuration



PORT=3000



\# Twilio Credentials (get from \[twilio.com/console](http://twilio.com/console))



TWILIO\_ACCOUNT\_SID=ACef247d623267efe0559119778e7db3b5



TWILIO\_AUTH\_TOKEN=7e2215f29f865cc81dba8f51a05b3dfa



\# Your Twilio Phone Number (with country code)



TWILIO\_FROM=+18504701575



\# Marcos' Personal Number (to detect when it's you texting)



MARCOS\_NUMBER=+18507762260



\# Anthropic API Key (get from \[console.anthropic.com](http://console.anthropic.com/))



ANTHROPIC\_API\_KEY= sk-ant-api03-dysxHiQfoKWFORfxiYHndhhWTImSP6FJMyS39dU6C0zOBfsOMabL\_9h8jlKLF-i8BpwYQD71NsCs7oUkdlNn2Q-1O6vdgAA


